<div class="col-md-8">
	<h2>Test</h2>
	<a href="#">New Item</a>
	<br>
	<br> {{!-- Datatable which will hold data from our database --}}
	<table id="item-data" class="display">
		<thead>
			<tr>
				<th>UPC</th>
				<th>Model</th>
				<th>Title</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Xbox One X</td>
				<td>Xbox One X</td>
				<td>Xbox One X</td>
				<td>I wish I had an Xbox One X</td>
			</tr>
			<tr>
				<td>Lawn Mower</td>
				<td>Lawn Mower</td>
				<td>Lawn Mower</td>
				<td>I wish I had an Lawn Mower</td>
			</tr>
			{{!-- This should handle the incoming get request for our database data from the controller. --}}
			{{#each itemDetails}}
				{{!-- TODO: Put an id or class into each row? --}}
			<tr data-id="{{id}}">
				<td>{{upc}}</td>
				<td>{{model}}</td>
				<td>{{title}}</td>
				<td>{{description}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

{{!-- Scripts for the Datatables --}} 
{{!-- Datatables jquery link --}}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<!-- Datatables CSS -->
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
{{!-- Scripts to make the Javascript run --}} 
<script>
	$(document).ready(function () {
		$('#item-data').DataTable();
	});
</script>